{
    "agent": {
        "metrics_collection_interval": 60,
        "logfile": "{{ cwa_agent_log_file }}",
        "debug": false
    },
    "metrics": {
        "namespace": "Storage_metrics",
        "metrics_collected": {
            "disk": {
                "resources": [
                  "/",
                  "/tmp"
                ],
                "measurement": [
                  {"name": "free", "rename": "disk_free", "unit": "Gigabytes"},
                  "total",
                  "used",
                  "used_percent",
                  "inodes_free",
                  "inodes_total",
                  "inodes_used"
                ],
                 "ignore_file_system_types": [
                  "sysfs", "devtmpfs","nfs4","overlay","tmpfs"
                ],
                "metrics_collection_interval": 60
            },
            "mem": {
                "measurement": [
                  "mem_used",
                  "mem_cached",
                  "mem_total",
                  "mem_used_percent",
                  "mem_available_percent"
                ],
                "metrics_collection_interval": 60
            }
        },
        "append_dimensions": {
            "ImageId": "${aws:ImageId}",
            "InstanceId": "${aws:InstanceId}",
            "InstanceType": "${aws:InstanceType}",
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
        },
        "aggregation_dimensions" : [["ImageId"], ["InstanceId", "InstanceType"]]
    },
    "logs": {
        "logs_collected": {
            "files": {
                "collect_list": [
                    {
                        "file_path": "/var/log/syslog",
                        "log_group_name": "/aws/ec2/{local_hostname}-{instance_id}",
                        "log_stream_name": "/var/log/syslog",
                        "retention_in_days": {{ cwa_retention_in_days }}
                    },
                    {
                        "file_path": "/var/log/nginx/access.log",
                        "log_group_name": "/aws/ec2/{local_hostname}-{instance_id}",
                        "log_stream_name": "/var/log/nginx/access",
                        "retention_in_days": {{ cwa_retention_in_days }}
                    },
                    {
                        "file_path": "/var/log/nginx/error.log",
                        "log_group_name": "/aws/ec2/{local_hostname}-{instance_id}",
                        "log_stream_name": "/var/log/nginx/error",
                        "retention_in_days": {{ cwa_retention_in_days }}
                    },
                    {
                        "file_path": "/apps/**laravel-*.log",
                        "log_group_name": "/aws/ec2/{local_hostname}-{instance_id}",
                        "log_stream_name": "app/laravel",
                        "retention_in_days": {{ cwa_retention_in_days }}
                    },
                    {
                        "file_path": "/apps/**laravel.log",
                        "log_group_name": "/aws/ec2/{local_hostname}-{instance_id}",
                        "log_stream_name": "app/laravel",
                        "retention_in_days": {{ cwa_retention_in_days }}
                    },
                    {
                        "file_path": "/apps/**supervisor-*.log",
                        "log_group_name": "/aws/ec2/{local_hostname}-{instance_id}",
                        "log_stream_name": "app/supervisor",
                        "retention_in_days": {{ cwa_retention_in_days }}
                    }
                ]
            }
        }
    }
}
