{
    "agent": {
        "metrics_collection_interval": 60,
        "logfile": "{{ cwa_agent_log_file }}",
        "debug": false
    },
    "logs": {
        "logs_collected": {
            "files": {
                "collect_list": []
            }
        }
    }
}
