# {{ ansible_managed }}
# This common-config is used to configure items used for both ssm and cloudwatch access

## Configuration for proxy.
## System-wide environment-variable will be read if it is absent here.
## i.e. HTTP_PROXY/http_proxy; HTTPS_PROXY/https_proxy; NO_PROXY/no_proxy
## Note: system-wide environment-variable is not accessible when using ssm run-command.
## Absent in both here and environment-variable means no proxy will be used.
{% if cwa_use_proxy %}
[proxy]
    http_proxy = "{{ cwa_http_proxy }}"
    https_proxy = "{{ cwa_https_proxy }}"
    no_proxy = "{{ cwa_no_proxy }}"

{% else %}
# [proxy]
#    http_proxy = "{http_url}"
#    https_proxy = "{https_url}"
#    no_proxy = "{domain}"
{% endif %}
